<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-default" id="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <h1 class="text-center">
                        <a href="#"><img src="images/logo.jpg" width="60" height="50" ></a>
                    </h1>
                </div>
                <div class="collapse navbar-collapse" id="header-navbar">
                    <form class="navbar-form navbar-right" action="#" method="POST">
                        <div class="input-group">
                            <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20" autocomplete="off">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-search">搜索</button>
                            </span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="detail.html">文章</a></li>
						<li><a href="detail.html">关于</a></li>
						<li><a href="detail.html">下载</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="content-wrap">
		<div class="row">
            <div class="col-md-12">
                <div class="content">
                <header class="article-header">
                    <h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
					<h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
					<h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
					<h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
					<h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
                    <h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
                    <h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
                    <h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
					<h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
					<h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
					<h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
					<h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
					<h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
					<h4 class="article-title"><a href="#">用DTcms做一个独立博客网站（响应式模板）</a></h4>
                    <div class="article-meta ">
                        <span class="item category"><a href="# ">产品</a></span>
                        <span class="item time ">2016-10-14</span>
                        <span class="item tags">标签：<a href="#">架构</a><a href="#">架构</a><a href="#">架构</a></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                    </div>
                </header>


                <div class="title">
                    <h3>评论</h3>
                </div>
                <div class="article-comment">
                    <form action="" method="POST">
                        <input type="text" class="form-control" placeholder="您的昵称（必填）">
                        <input type="text" class="form-control" placeholder="您的邮箱或联系电话（非必填）">
                        <textarea class="form-control" rows="3" placeholder="您的评论或留言（必填）"></textarea>
                        <button type="button" class="btn btn-default">发布评论</button>
                    </form>
                </div>

                <div class="postcomments">
                    <ol class="commentlist">
                        <li class="comment-content"><span class="comment-f">#1</span>
                            <div class="comment-main">
                                <p><a class="name" href="#" target="_blank">zx@reedo.cn</a><span class="time"> 2016/10/28 11:41:03</span><br>不错的网站主题，看着相当舒服</p>
                            </div>
                        </li>
                        <li class="comment-content"><span class="comment-f">#2</span>
                            <div class="comment-main">
                                <p><a class="name" href="#" target="_blank">九日</a><span class="time"> 2016/10/28 11:41:03</span><br>不错的网站主题，看着相当舒服</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            </div>
            <div class="col-md-0">
                <div class="sidebar ">
                <div class="widget widget_hot">
                    <h3>下载排行榜</h3>
                    <ul>
                        <li>
                            <a title=" " href="# ">
                                <span class="text ">用如何绘制产品架构图</span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-time "></i>
                                            2016-11-01
                                        </span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-eye-open "></i> 88</span>
                            </a>
                        </li>
                        <li>
                            <a title=" " href="# ">
                                <span class="text ">用如何绘制产品架构图</span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-time "></i>
                                            2016-11-01
                                        </span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-eye-open "></i> 88</span>
                            </a>
                        </li>
                        <li>
                            <a title=" " href="# ">
                                <span class="text ">用如何绘制产品架构图</span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-time "></i>
                                            2016-11-01
                                        </span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-eye-open "></i>88</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget_hot ">
                    <h3>最新文章</h3>
                    <ul>
                        <li>
                            <a title=" " href="# ">
                                <span class="text ">用如何绘制产品架构图</span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-time "></i>
                                            2016-11-01
                                        </span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-eye-open "></i> 88</span>
                            </a>
                        </li>
                        <li>
                            <a title=" " href="# ">
                                <span class="text ">用如何绘制产品架构图</span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-time "></i>
                                            2016-11-01
                                        </span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-eye-open "></i> 88</span>
                            </a>
                        </li>
                        <li>
                            <a title=" " href="# ">
                                <span class="text ">用如何绘制产品架构图</span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-time "></i>
                                            2016-11-01
                                        </span>
                                <span class="muted ">
                                            <i class="glyphicon glyphicon-eye-open "></i>88</span>
                            </a>
                        </li>
                    </ul>
                </div>
				<div class="widget">
                    <h3>归档</h3>
                    <ul>
                        <li><a><span class="text"><i class="glyphicon glyphicon-play-circle"></i> 2018年3月</span></a></li>
                        <li><a><span class="text"><i class="glyphicon glyphicon-play-circle"></i> 2018年3月</span></a></li>
                        <li><a><span class="text"><i class="glyphicon glyphicon-play-circle"></i> 2018年3月</span></a></li>
                    </ul>
                </div>
                <div class="widget widget_sentence">
                    <h3>标签云</h3>
                    <ul>
                        <li><a href="#">移动 <span class="badge">1</span></a></li>
                        <li><a href="#">产品 <span class="badge">1</span></a></li>
                        <li><a href="#">移动统计 <span class="badge">1</span></a></li>
                        <li><a href="#">移动统计 <span class="badge">1</span></a></li>
                        <li><a href="#">移动统计 <span class="badge">1</span></a></li>
                    </ul>
                </div>

            </div>
            </div>
        </div>
        </div>
    </div>
	<div id="back-to-top">
        <i class="glyphicon glyphicon-arrow-up"></i>
    </div>

    <div class="footer ">
        <div class="container ">
            <p>Copyright &copy; 2018.Reedo.Inc All rights reserved</p>
        </div>
    </div>



    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
	<script>
    $("#back-to-top").click(function () {
        window.scrollTo(0, 0);
    });
    </script>
</body>

</html>